appdirs==1.4.2
backports.ssl-match-hostname==3.5.0.1
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
slackclient==1.0.5
websocket-client==0.40.0
Werkzeug==0.11.15
